* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
}

.forgot-section {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px;
}

.forgot-container {
  width: 82%;
  max-width: 1400px;
  min-height: 646px;

  background: #fff;

  border: 1px solid #e5e5e5;
  border-radius: 24px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-content {
  width: 55%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: "Volkhov", serif;
  font-size: 72px;
  color: #3d3d3d;
  padding-bottom: 26px;
}

.forgot-box {
  width: 100%;
}

.forgot-box h2 {
  font-size: 42px;
  font-weight: 600;

  color: #111;

  margin-bottom: 60px;
}

.input-group {
  width: 100%;

  margin-bottom: 70px;
}

.input-group input {
  width: 100%;

  border: none;
  border-bottom: 1px solid #cfcfcf;

  padding: 14px 0;

  font-size: 18px;
  color: #333;

  outline: none;

  background: transparent;
}

.input-group input::placeholder {
  color: #b3b3b3;
}

.send-btn {
  width: 100%;
  height: 65px;

  border: none;
  border-radius: 10px;

  background: #000;
  color: #fff;

  font-size: 18px;
  font-weight: 500;

  cursor: pointer;

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);

  transition: 0.3s;
}

.send-btn:hover {
  transform: translateY(-2px);
}

.login-text {
  text-align: center;

  margin-top: 30px;

  font-size: 17px;
  color: #444;
}

.login-text a {
  text-decoration: none;

  color: #7a8cff;
  font-weight: 500;
}

.terms {
  position: absolute;

  bottom: 30px;
  right: 40px;

  font-size: 15px;
  color: #222;
}

@media (max-width: 768px) {
  .forgot-container {
    padding: 40px 25px;
    min-height: auto;
  }

  .logo {
    font-size: 52px;
    margin-bottom: 80px;
    text-align: center;
  }

  .forgot-box h2 {
    font-size: 34px;
    margin-bottom: 40px;
    text-align: center;
  }

  .send-btn {
    height: 58px;
    font-size: 16px;
  }

  .terms {
    position: static;
    margin-top: 50px;
    text-align: center;
  }
}
